{% extends 'base.html.twig' %}

{% block title %}Category successfully added!{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        Category "{{ category.title }}" successfully added!
    </div>
    <a class="btn btn-info mt-3" href="{{ path('category_show', {'id': category.id}) }}" role="button">Show category</a>
    <a class="btn btn-success mt-3" href="{{ path('category_add') }}" role="button">Add more</a>
{% endblock %}
